body{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/assets/style/pic/6a196503-5836-4d11-8081-ceb656638b38.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}
h1 {
    margin: 10px 0;
}
h2 {
    margin-bottom: 20px;
}
#increment-btn , #save-btn, #reset-btn{
    border: none;
    padding: 10px 5px;
    color: #fff;
    width: 150px;
    border-radius: 7px;
}
#increment-btn{
    background: #00009a;
    font-weight: bold;
}
#save-btn{
    background: #006b00;
}
#reset-btn{
    background: #880000;
}
#increment-btn:hover, #save-btn:hover, #reset-btn:hover{
    opacity: 0.6;
}